<body class="learn-bar">
    <header class="header">
        <h1><%= @list.name%></h1>
        <input class="new-item" placeholder="add an item..." autofocus="">
    </header>
    <section class="grocerylisterapp">
        <ul class="item-list">
                <li>
                    <div class="view">
                            <label>[]Cookies</label>
                    </div>
                </li>
            </ul>
    </section>
