<li class="<%= 'completed' if item.complete? %>"></li>
<div class="view">
    <%= form_for([@list, item]) do |f| %>
    <%= f.check_box :status, :class => "toggle", :checked => (true if item.complete?) %>

    <label> <%= item.description %></label>
    <input type="submit" name="" id="">
    <% end %>
</div>
</li>