
<body class="learn-bar">
    <header class="header">
        <h1>WRONG PAGE IS BEING RENDERED - Your Lists</h1>
        <input class="new-item" placeholder="make a new list?" autofocus="">
    </header>
    
    
    
    <section class="grocerylisterapp">
            <ul class="item-list">
                <li>
                    <div class="view">
                        <label><a href="#">Grocery Store List</a></label>
                     </div>
                </li>
                <li>
                    <div class="view">
                        <label><a href=""#>Farmer's Market List</a></label>
                    </div>
                </li>

                <li>
                    <div class="view">
                        <label> <a href="">Wholesale Store List</a></label>
                    </div>
                </li>

                <li>
                    <div class="view">
                        <label> <a href="">Pharmacy List</a></label>
                    </div>
                </li>

            </ul>
    </section>
