// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

<style type="text/css">
ul {
list-style-type: none;
}
</style>


<style type="text/css">
.nobull {
list-style-type: none;
}
</style>